
.container{
flex: 1 0 auto;
background-color:rgba(0,0,0,0);
font-size:12pt;
min-height:100vh;
min-width:90vw;
margin-top:50px;
}


.row{
padding-bottom:40px;
}
.row{
padding-top:20px;
}
.characterCard{
margin: 0 auto;
float:none;
}

.transparent-box{
  border-radius: 5px;
  padding:15px;
  font-family: CronosPro;
  max-width: 500px;
  background: rgba(0, 0, 0, .57);
  margin-top:20px;
  margin-bottom:30px;
  transition:.5s;
  border:4px solid black;
}
.transparent-box:hover{
  transform:scale(1.1,1.1);
}


.usernameBox{
height:45px;
text-align:center;
font-style:CronosPro;
font-size:20px;
color:white;
}


.btn-xp{
color:purple;
border:1px solid purple;
    position: relative;
    padding:3px;
    margin: 10px;
    height: 26px;
    width:52px;
}

span{
    position: absolute;
    top: 10px;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
}

.btn-gold{
color:gold;
border:1px solid gold;
    position: relative;
    padding:3px;
    margin:10px;
    height: 26px;
    width:52px;
}

.btn-gold:hover{
color:black;
background-color:gold;
}

.btn-xp:hover{
color:black;
background-color:purple;
}

.free-progress{
}

#wrappedRow{
flex-wrap:wrap;
}

.progress::-webkit-progress-value {

  transition: width 0.5s ease;
}
.progress-bar{
  background-color:#ffbf00;
  margin:3px;
  border-radius:5px;
  min-height:20px;
  box-shadow: inset 0px 0px 10px black;
}

.barXp{

  background-color:#bb00bb;
  margin:3px;
  border-radius:5px;
  min-height:20px;
  box-shadow: inset 0px 0px 2px black;
}
.levelBar{
  background-color:#640092;
  margin:3px;
  border-radius:5px;
  min-height:20px;
  box-shadow: inset 0px 0px 2px black;
}
.progressStatic{
  min-width:100vw;
  max-height:10vh;
  min-height:10vh;
  bottom:50px;
  position:fixed;
  margin:0;
  left:-1px;
  color:white;
  filter:blur(1px);
  border:2px solid black;
}

.progressStaticBar{
min-width:100vw;
max-height:10vh;
min-height:10vh;
background-color:#7c40ff;
}

.progress {
  min-height:26px;
  background-color:#202020;
  box-shadow: inset 0px 0px 5px black;
  transition: all 0.5s ease;
  margin:10px;
  width:300px;
  position:relative;
}
.level{
width:100%;
}
.progress-label {
    float: left;
    margin:auto;
    color:white;
}
.goldCollect{
  visibility: hidden;
  min-width: 250px;
  min-height:40px;
  margin-left: -125px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.goldCollect.show{
  visibility: visible;
  -webkit-animation: fadeinout 2s;
  animation: fadeinout 2s;
}
.xpCollect{
  visibility: hidden;
  min-width: 250px;
  min-height:40px;
  margin-left: -125px;
  background-color: #5cb85c;
  color: white;
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: absolute; /* Sit on top of the screen */
  left: 50%; /* Center the snackbar */
  bottom: 50px; /* 30px from the bottom */
}

.xpCollect.show{
  visibility: visible;
  -webkit-animation: fadeinout 2s;
  animation: fadeinout 2s;
}

img{
position:relative;

}
.form-row{
margin:auto;
flex-wrap:nowrap;
}

@-webkit-keyframes fadeinout {
  0%{bottom: 50px; opacity: 0;}
  50% {bottom: 80px; opacity: 1;}
  100% {bottom: 50px; opacity:0}
}

@keyframes fadeinout {
  0%{bottom: 50; opacity: 0;}
  50% {bottom: 80px; opacity: 1;}
  100% {bottom: 50px; opacity:0}
}
