.container{
display:flex;
padding:0px;
min-height:100vh;
max-width:100vw;
margin: auto;
position:relative;
}
.container-row{
display:flex;
width:80vw;
margin:auto;
justify-content:space-around;
margin-top:0;
}
.row{
margin-top:20px;
margin-left:5px;
}
.group{

display:flex;
flex-direction:row;
flex-wrap:wrap;
}
p{
margin-bottom:0px;

}
.flex-test{
}

.itemName{
text-align:center;
font-size:14px;
word-wrap: break-word;
margin-bottom:5px;
}

.itemAmount{
position:relative;
top:15%;
left:10%;
font-size:12px;
}

.popupText{
padding:3px;
}

.popupTextGold{
position:absolute ;
top:85%;
right:10% ;
}
.itemBox{
width: 80px;
height: 60px;
box-shadow: 0px 0px 3px #0202028c, #ffffff1c 0px 0px 5px inset;
margin-left: 25px;
margin-bottom: 0px;
color: white;
transition: 0.5s;
padding-top: 20px;
border: 1px solid #6f6f6f5c;
margin-top: 20px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(199, 0, 255, 0) 100%);
border-bottom: 0;
}
.itemBox:hover{
transform:scale(1.1,1.1);
box-shadow: 0px 0px 1px black, #ffffff1c 0px 0px 100px inset;
border: 1px solid #c33fff78;
}
:host::ng-deep ngb-popover-window {
  display:flex;
  height:220px;
  width:220px;
  flex-direction:column;
    padding:0;
    font-size:12px;
    background-color:rgba(33,33,33,.8);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
:host::ng-deep ngb-popover-window::ng-deep .arrow{
   display: none;
}


:host ::ng-deep .mat-tab-body-content{
background-color:#0000;
overflow:auto;
scrollbar-color: #2E2E2E #212121;
scrollbar-width: thin;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active{
overflow:visible;
}
:host ::ng-deep .mat-tab-body-wrapper{
overflow:visible;
height:550px;
}
:host ::ng-deep .mat-tab-header-pagination-chevron{
border-color:#c33fff;
}
:host ::ng-deep .mat-tab-header-pagination{
background:linear-gradient(180deg, rgba(199, 0, 255, 0.24) 0%, rgba(0, 0, 0, 0.06) 100%);

}
:host ::ng-deep .mat-tab-label{
background:linear-gradient(180deg, rgba(199, 0, 255, 0.38) 0%, rgba(0, 0, 0, 0.15) 100%)
}

section{
color:white;
}

img{
width:20px;
height:20px;
}
.header{
filter:drop-shadow(0px 0px 7px  #f778fb);
}
#bag{
width:25px;
height:25px;
}
.sellGold{
width:12px;
height:12px;
}

.equipButton{
margin-left:25px;
width:80px;
border-top:none;
border-color:#9a00f0;
color:white;
}
.equipButton:hover{
background-color:#9a00f04f;
}

.itemDetails{
font-family:CronosPro;
font-size:13px;
}

.uncommon{
  color: #00FF00;
  filter: drop-shadow(0px 0px 3px rgba(0,255,0));
}

.common{
  filter: drop-shadow(0px 0px 3px rgba(255,255,255));
}

.rare{
  font-style:italic;
  filter: drop-shadow(0px 0px 3px rgba(0,255,255));
  color:cyan;
}

.mythic{
  color:purple;
  filter: drop-shadow(0px 0px 3px rgba(127,0,255));
}

.legendary{
  color:#FF8000;
  filter: drop-shadow(0px 0px 3px rgba(255,128,0));
  font-style:italic;
}

.artifact{
  color:#CC0000;
  filter: drop-shadow(0px 0px 3px rgba(204,0,0));
  font-style:italic;
}

.inventoryBag{
  width:50%;
  height:600px;
  min-width:350px;
  position:relative;
  border-top:1px #9a00f0 solid;
  border-bottom:1px #9a00f0bf solid;
  font-family:CronosPro;
  box-shadow:0px 3px 10px black;
  margin-top:50px;
  background-color:rgba(33,33,33,.8);
}

.characterTitle{
  font-size: 16px;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 3px black;
  width: 50%;
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 5px;
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.19), rgba(0, 0, 0, 0))
}
.characterView{
  display:flex;
  flex-direction:column;
  background-color:rgba(33,33,33,.8);
  height:600px;
  width:400px;
  color:white;
  border:1px solid #6a00a6bf;
  box-shadow:0px 3px 10px black;
  margin-top:50px;
}
.characterModel{
padding-left:120px;
}
#charImg{
    width:123px;
    height:134px;
}
.itemSlot{
  min-height: 50px;
  width: 50px;
  margin: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 4px rgb(33,33,33);
  background-color: rgba(33,33,33,.5);
  margin-bottom: 30px;
  border: 1px black solid;
  margin-left: 20px;
  padding-top:10px;
  text-align:center;
  cursor:pointer;
}
.itemSlotRight{
  min-height: 50px;
  width: 50px;
  margin: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0px 0px 4px rgb(33,33,33);
  background-color: rgba(33,33,33,.5);
  border: 1px black solid;
  left: 80%;
  margin-right: 20px;
  bottom: 45%;
  margin-bottom: 50px;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  cursor:pointer;
}

.charStats{
  font-size: 12px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 3px black;
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 4px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:10px;
  margin-left:20px;
  height:180px;
  width:90%;
  border:1px solid black;
  margin-top:-225px;
}

@keyframes hovered{
  100%{
    transform:scale(1.2,1.2);
  }
}
