<app-navigation></app-navigation>
<div class="container">

  <nav class="navbar navbar-light justify-content-between">
    <div class="buttons">
      <div class="buttonsContainer">
        <button class="btnMenu effect01" (click)="displayShop()" (mouseenter)="showShopPreview=true" (mouseleave)="displayShopPreview()" [ngClass]="{'active-menu':showShopPreview}">Shop</button>
      </div>
      <div class="buttonsContainer">
        <button class="btnMenu effect01" (click)="displayCraft()" (mouseenter)="showCraftPreview=true" (mouseleave)="displayCraftPreview()" [ngClass]="{'active-menu':showCraftPreview}">Craft</button>
      </div>
      <div class="buttonsContainer">
        <button class="btnMenu effect01" (click)="displayEnchant()" (mouseenter)="showEnchantPreview=true" (mouseleave)="displayEnchantPreview()" [ngClass]="{'active-menu':showEnchantPreview}">Enchant</button>
      </div>
      <div class="buttonsContainer">
        <button class="btnMenu effect01" (click)="displayLucky()" (mouseenter)="showLuckyPreview=true" (mouseleave)="displayLuckyPreview()" [ngClass]="{'active-menu':showLuckyPreview}">Lucky Wheel</button>
      </div>
    </div>
  </nav>

  <div class= "contentBox">
    <!-------Start shop box--------->
    <div class="inner-context-box" [ngClass]="{'preview-shop':showShopPreview}">
      <img class="box-img-cover" src="/assets/img/inn.png" [ngClass]="{'hide-pic':showShopPreview}">

      <div class="form-group row hidden" [ngClass]="{'display':showShopPreview}">
        <button class="btn groupBtn rounded-0" [ngClass]="{'groupBtnClicked':showShopBuy}" (click)="displayShopBuy()">Buy</button>
        <button class="btn groupBtn rounded-0" [ngClass]="{'groupBtnClicked':showShopSell}" (click)="displayShopSell()">Sell</button>
      </div>

      <!--SHOP OPENED BUY-->
      <div class="shopContents rounded hidden" [ngClass]="{'displayShop':showShopBuy,'no-display':showShopSell}">
        <div class ="d-flex flex-row flex-wrap" *ngIf="showShopBuy">

          <div class="shopBox d-flex align-items-start flex-column justify-content-center" *ngFor="let item of shopInventory;let i = index" (mouseenter)="showTempEquipment(item)" [ngbPopover]="equipmentPop" #equipmentPopover="ngbPopover" triggers="hover" placement="right">
            <div class = "p-2 mb-auto justify-content-center align-self-center itemName" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">{{item.name}}</div>
            <div class ="p-2 mb-auto align-self-center" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
              <div class="shopImg align-self-center" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
              <div class="shopImg align-self-center" *ngIf="item.item_type==='Potion'" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
            </div>
            <div class="p-2 align-self-center">
              <div class = "indent">
                {{item.price}}  <img src="assets/img/gold_coin.png" title="Gold"></div>
            </div>
            <div class ="p-2 align-self-center">
              <p class = "separate-btn"></p>
              <button class="btn btn-sm buy-button" (click)="shopItemBuy(item,i)">Buy</button>
            </div>
          </div>
        </div>
      </div>
        <!--SHOP OPENED SELL-->
        <div class="shopContents rounded hidden" [ngClass]="{'displayShop':showShopSell,'no-display':showShopBuy}">
          <div class ="d-flex flex-row flex-wrap" *ngIf="showShopSell">

            <div class="shopBox d-flex align-items-start flex-column justify-content-center" *ngFor="let item of inventory" (mouseenter)="showTempEquipment(item)" [ngbPopover]="equipmentPop" #equipmentPopover="ngbPopover" triggers="hover" placement="right">
              <div class = "p-2 mb-auto justify-content-center align-self-center itemName" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">{{item.name}}</div>
              <div class ="p-2 mb-auto align-self-center" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
                <div class="row">
                  <div class="shopImg align-self-center" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
                  <div class="shopImg align-self-center" *ngIf="item.item_type==='Potion'" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
                  <div class="sellAmount">x{{item.amount}}</div>
                </div>
              </div>
              <div class="p-2 align-self-center">
                <div class = "indent">
                  {{item.sell}}  <img src="assets/img/gold_coin.png" title="Gold"></div>
              </div>
              <div class ="p-2 align-self-center">
                <p class="separate-btn"></p>
                <button class="btn btn-sm buy-button" (click)="shopItemSell(item)">Sell</button>
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-------Start Craft box--------->
    <div class="inner-context-box" [ngClass]="{'preview-shop':showCraftPreview}">
      <img class="box-img-cover" src="/assets/img/anvil.png" [ngClass]="{'hide-pic':showCraftPreview}">


        <div class="craft-menu hidden" [ngClass]="{'display':showCraftPreview}">
          <div class="craft-equipment-menu" [ngClass]="{'enlarge':showCraftEquipment}">
            <button class="btn craft-menu-btn" (click)="controlCraft('equipment')" [ngClass]="{'craft-button-clicked':showCraftEquipment}">Equipment</button>
          </div>
          <div class="craft-potion-menu" [ngClass]="{'enlarge':showCraftPotions}">
            <button class="btn craft-menu-btn" (click)="controlCraft('potion')" [ngClass]="{'craft-button-clicked':showCraftPotions}">Potions</button>
          </div>
          <div class="craft-misc-menu">
            <button class="btn craft-menu-btn" (click)="controlCraft('misc')">Misc</button>
          </div>
        </div>

      <div class="craft-hidden" *ngIf="showCraftPotions && showCraftPreview" [ngClass]="{'display':showCraftPotions}">
        <div class="craft-box" *ngFor="let item of craftPotions">
          <div class="inner-craft-box">
            <div class ="item-rarity" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
              <div class="item-type" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
            </div>
            <p class = "separate"></p>
            <div class="craft-info-box">
              <div class="ingredients" title="{{item.ingredient1}}" *ngIf="item.ingredient1Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient1]"></div><span *ngIf="item.ingredient1Amount != 0">x {{item.ingredient1Amount}}</span>
              <div class="ingredients" title="{{item.ingredient2}}" *ngIf="item.ingredient2Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient2]"></div><span *ngIf="item.ingredient2Amount != 0">x {{item.ingredient2Amount}}</span>
              <div class="ingredients" title="{{item.ingredient3}}" *ngIf="item.ingredient3Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient3]"></div><span *ngIf="item.ingredient3Amount != 0">x {{item.ingredient3Amount}}</span>
              <div class="ingredients" title="{{item.ingredient4}}" *ngIf="item.ingredient4Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient4]"></div><span *ngIf="item.ingredient4Amount != 0">x {{item.ingredient4Amount}}</span>
              <div class="ingredients" title="{{item.ingredient5}}" *ngIf="item.ingredient5Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient5]"></div><span *ngIf="item.ingredient5Amount != 0">x {{item.ingredient5Amount}}</span>
            </div>
          </div>
          <p class = "separate-btn"></p>
          <button class="btn craft-button" (click)="userCraftItem(item)">Craft</button>
        </div>
      </div>

      <div class="craft-hidden" *ngIf="showCraftEquipment && showCraftPreview" [ngClass]="{'display':showCraftEquipment}">
        <div class="craft-box" *ngFor="let item of craftEquipment">
          <div class="inner-craft-box">
            <div class ="item-rarity rare-mystery">
              <div class="item-type" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
            </div>
            <p class = "separate"></p>
            <div class="craft-info-box">
              <div class="ingredients" title="{{item.ingredient1}}" *ngIf="item.ingredient1Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient1]"></div><span *ngIf="item.ingredient1Amount != 0">x {{item.ingredient1Amount}}</span>
              <div class="ingredients" title="{{item.ingredient2}}" *ngIf="item.ingredient2Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient2]"></div><span *ngIf="item.ingredient2Amount != 0">x {{item.ingredient2Amount}}</span>
              <div class="ingredients" title="{{item.ingredient3}}" *ngIf="item.ingredient3Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient3]"></div><span *ngIf="item.ingredient3Amount != 0">x {{item.ingredient3Amount}}</span>
              <div class="ingredients" title="{{item.ingredient4}}" *ngIf="item.ingredient4Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient4]"></div><span *ngIf="item.ingredient4Amount != 0">x {{item.ingredient4Amount}}</span>
              <div class="ingredients" title="{{item.ingredient5}}" *ngIf="item.ingredient5Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient5]"></div><span *ngIf="item.ingredient5Amount != 0">x {{item.ingredient5Amount}}</span>
            </div>
          </div>
          <p class = "separate-btn"></p>
          <button class="btn craft-button" (click)="userCraftEquipment(item)">Craft</button>
        </div>
      </div>


<!---
        <div class="craft-potion-menu" [ngClass]="{'enlarge':showCraftPotions}">
          <button class="btn craft-menu-btn" (click)="controlCraft('potion')">Potions</button>


          <div class="craft-hidden-potion" *ngIf="showCraftPotions" [ngClass]="{'display':showCraftPotions}">
            <div class="craft-box" *ngFor="let item of craftable">
              <div class="inner-craft-box">
                <div class ="item-rarity" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
                  <div class="item-type" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
                  <div class="item-type" *ngIf="item.item_type==='Potion'" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
                </div>
                <p class = "separate"></p>
                <div class="craft-info-box">
                  <div class="ingredients" title="{{item.ingredient1}}" *ngIf="item.ingredient1Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient1]"></div><span *ngIf="item.ingredient1Amount != 0">x {{item.ingredient1Amount}}</span>
                  <div class="ingredients" title="{{item.ingredient2}}" *ngIf="item.ingredient2Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient2]"></div><span *ngIf="item.ingredient2Amount != 0">x {{item.ingredient2Amount}}</span>
                  <div class="ingredients" title="{{item.ingredient3}}" *ngIf="item.ingredient3Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient3]"></div><span *ngIf="item.ingredient3Amount != 0">x {{item.ingredient3Amount}}</span>
                  <div class="ingredients" title="{{item.ingredient4}}" *ngIf="item.ingredient4Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient4]"></div><span *ngIf="item.ingredient4Amount != 0">x {{item.ingredient4Amount}}</span>
                  <div class="ingredients" title="{{item.ingredient5}}" *ngIf="item.ingredient5Amount != 0" [ngClass]="{'Jar of Slime':'slime-jar','Pixie Dust':'fairy-dust','Wolf Pelt':'wolf-pelt','Golem Artifact':'golem-artifact'}[item.ingredient5]"></div><span *ngIf="item.ingredient5Amount != 0">x {{item.ingredient5Amount}}</span>
                </div>
              </div>

              <button class="btn craft-button">Craft</button>
            </div>
          </div>

        </div>
!-->
    </div>

    <!-------Start Enchant box--------->
    <div class="inner-context-box" [ngClass]="{'preview-shop':showEnchantPreview}">
      <img class="box-img-cover" src="/assets/img/enchant.png" [ngClass]="{'hide-pic':showEnchantPreview}">
      <div class="letter-container hidden" (mouseenter)="showEnchantButton = true" (mouseleave)="showEnchantButton = false" [ngClass]="{'display-enchant':showEnchantPreview}" *ngIf="!hideLetters">
        <button class="btn" [ngClass]="{'enchant-menu-btn':showEnchantButton}" (click)="displayEnchantable()">Enchant items</button>
        <img class="letters1" src="/assets/img/set1.png" [ngClass]="{'pause':showEnchantButton}">
        <img class="letters2" src="/assets/img/set2.png" [ngClass]="{'pause':showEnchantButton}">
        <img class="letters3" src="/assets/img/set3.png" [ngClass]="{'pause':showEnchantButton}">
      </div>
        <div class="enchant-container hidden" [ngClass]="{'display':showEnchantPreview}">
          <div class="shopBox d-flex align-items-start flex-column justify-content-center" *ngFor="let item of inventory" (mouseenter)="showTempEquipment(item)" [ngbPopover]="equipmentPop" #equipmentPopover="ngbPopover" triggers="hover" placement="right">
            <div class = "p-2 mb-auto justify-content-center align-self-center itemName" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">{{item.name}}</div>
            <div class ="p-2 mb-auto align-self-center" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
              <div class="row">
                <div class="shopImg align-self-center" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
                <div class="sellAmount">x{{item.amount}}</div>
              </div>
            </div>
            <div class ="p-2 align-self-center">
              <p class="separate-btn"></p>
              <button class="btn btn-sm buy-button" (click)="enchantItem(item)">Enchant</button>
            </div>
          </div>
        </div>
    </div>

    <!-------Start Lucky box--------->
    <div class="inner-context-box" [ngClass]="{'preview-shop':showLuckyPreview}">
      <img class="box-img-cover" src="/assets/img/lucky.png" [ngClass]="{'hide-pic':showLuckyPreview}">
      <div class="wheel-container hidden" [ngClass]="{'display':showLuckyPreview}">
        <i class="fa fa-question-circle"
           matTooltipPosition="below"
           matTooltipClass="wheel-tooltip"
           matTooltip={{wheelInformation()}}>
        </i>
        <div class="timer" *ngIf="endTimer != 0">{{countdown}}</div>
        <div class="wheel-outer" *ngIf="showLuckyPreview">
          <img class="wheel-frame" src="/assets/img/wheel.png">
        </div>
        <div class="wheel-inner" *ngIf="showLuckyPreview">
          <img class="spin-wheel" [ngClass]="{'500':'spin-500','5000':'spin-5k','20000':'spin-20k','scroll':'spin-scroll','enchant':'spin-enchant','mystery':'spin-mystery','potion':'spin-potion','rare':'spin-rare'}[spinVal]" src="/assets/img/innerwheel2.png">
        </div>
        <div class="wheel-button-container" *ngIf="showLuckyPreview">
          <button class="btn wheel-button" (click)="luckyWheelSpin()" [disabled]="!resetTimer"></button>
        </div>
      </div>
    </div>

  </div>



  <div class="craft-pop-up" *ngIf="craftedItemSuccess">
    <div class="craft-pop-up-inner" [ngClass]="{'Rare':'rareCraft','Mythic':'mythicCraft','Uncommon':'uncommonCraft', 'Legendary':'legendaryCraft','Common':'commonCraft','Artifact':'artifactCraft'}[craftedItem.rarity]">
      <button class="btn close-btn close" (click)="craftedItemSuccess=false">x</button>
      <span id="craft-item-title" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[craftedItem.rarity]">{{craftedItem.name}}</span>
      <div id = "craft-pop-image"[ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[craftedItem.rarity]">
           <div [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[craftedItem.equip_type]">
           </div>
      </div>

      <div class =craft-pop-up-details>
        <div class="craft-detail" *ngIf="craftedItem.hp != 0"><img title="hp" src="assets/img/heart.png">&nbsp;&nbsp;&nbsp;{{craftedItem.hp}}</div>
        <div class="craft-detail" *ngIf="craftedItem.defense != 0"><img title="defense" src="assets/img/shield.png">&nbsp;&nbsp;&nbsp;{{craftedItem.defense}}</div>
        <div class="craft-detail" *ngIf="craftedItem.attack != 0"><img title="attack" src="assets/img/attack.png">&nbsp;&nbsp;&nbsp;&nbsp;{{craftedItem.attack}}</div>
        <div class="craft-detail" *ngIf="craftedItem.crit_chance != 0"><img title="crit chance" src="assets/img/crit_attack.png">&nbsp;&nbsp;&nbsp;{{craftedItem.crit_chance}}%</div>
      </div>
      <div id="craft-description" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[craftedItem.rarity]">{{craftedItem.description}}</div>
    </div>
  </div>

  <div class="enchant-pop-up" *ngIf="enchantItemSuccess">
    <div class="enchant-pop-up-inner" [ngClass]="{'Rare':'rareCraft','Mythic':'mythicCraft','Uncommon':'uncommonCraft', 'Legendary':'legendaryCraft','Common':'commonCraft','Artifact':'artifactCraft'}[enchantedItem.rarity]">
      <button class="btn close-btn close" (click)="enchantItemSuccess=false">x</button>
      <span id="enchant-item-title" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[enchantedItem.rarity]">{{enchantedItem.name}}</span>
      <div id = "enchant-pop-image"[ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[enchantedItem.rarity]">
        <div [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[enchantedItem.equip_type]">
        </div>
      </div>

      <div class =craft-pop-up-details>
        <div class="enchant-detail" *ngIf="modHp != 0"><img title="hp" src="assets/img/heart.png">&nbsp;&nbsp;&nbsp;{{enchantedItem.hp}} <i class="fa fa-arrow-right"></i> <div class="mod">{{modHp}}</div><i class="fa fa-caret-up"></i></div>
        <div class="enchant-detail" *ngIf="modDefense != 0"><img title="defense" src="assets/img/shield.png">&nbsp;&nbsp;&nbsp;{{enchantedItem.defense}} <i class="fa fa-arrow-right"></i> <div class="mod">{{modDefense}}</div><i class="fa fa-caret-up"></i></div>
          <div class="enchant-detail" *ngIf="modAttack != 0"><img title="attack" src="assets/img/attack.png">&nbsp;&nbsp;&nbsp;&nbsp;{{enchantedItem.attack}} <i class="fa fa-arrow-right"></i> <div class="mod">{{modAttack}}</div><i class="fa fa-caret-up"></i></div>
          <div class="enchant-detail" *ngIf="modCrit != 0"><img title="crit chance" src="assets/img/crit_attack.png">&nbsp;&nbsp;&nbsp;{{enchantedItem.crit_chance}}% <i class="fa fa-arrow-right"></i> <div class="mod">{{modCrit}}%</div><i class="fa fa-caret-up"></i></div>
      </div>
    </div>
  </div>


  <div class = "attemptPurchase" #div>

    <ng-template #equipmentPop>
      <section id="equipmentPopover">
        <div  [ngClass]="{'Common':'common', 'Uncommon':'uncommon', 'Rare':'rare', 'Mythic':'mythic', 'Legendary':'legendary', 'Artifact':'artifact'}[tempEquipment.rarity]">
          <div class="itemName">{{tempEquipment.name}}</div>
          <div class="popupText">Item Level {{tempEquipment.level}}</div>
          <div class="popupText" *ngIf="tempEquipment.hp > 0">+{{tempEquipment.hp}} hp</div>
          <div class="popupText" *ngIf="tempEquipment.defense > 0">+{{tempEquipment.defense}} defense</div>
          <div class="popupText" *ngIf="tempEquipment.attack > 0">+{{tempEquipment.attack}} attack</div>
          <div class="popupText" *ngIf="tempEquipment.crit_chance > 0">+{{tempEquipment.crit_chance}}% critical hit chance</div>
          <div class ="popupText" *ngIf="tempEquipment.item_type === 'Potion' || tempEquipment.item_type === 'Mystery' || tempEquipment.item_type ==='Material'"> {{tempEquipment.description}}</div>
        </div>
      </section>
    </ng-template>

  </div>

<!--  <div [ngClass]="{'show':showBought}" class="purchaseItem">Item bought!</div>
  <div [ngClass]="{'show':showSell}" class="purchaseItem">Item Sold!</div>-->
<!--  <div [ngClass]="{'show':notEnoughGold}" class="purchaseItemFailed">Not enough gold!</div>-->
</div>


<!--
<div class = "contentBoxAll" *ngIf="showShop || showShopPreview" [ngClass]="{'preview':showShopPreview,'endPreview':!showShopPreview}">
  <div class="form-group row">
    <button class="btn groupBtn rounded-0" (click)="displayShopBuy()">Buy</button>
    <button class="btn groupBtn rounded-0" (click)="displayShopSell()">Sell</button>
  </div>

  <div class="shopContents rounded">
    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;SHOP OPENED BUY&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class ="d-flex flex-row flex-wrap" *ngIf="showShopBuy">

      <div class="shopBox d-flex align-items-start flex-column justify-content-center" *ngFor="let item of shopInventory;let i = index">
        <div class = "p-2 mb-auto justify-content-center align-self-center">{{item.itemName}}</div>
        <div class ="p-2 mb-auto align-self-center" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
          <div class="shopImg align-self-center" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
          <div class="shopImg align-self-center" *ngIf="item.item_type==='Potion'" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
        </div>
        <div class="p-2 align-self-center">
          <div class = "indent">
            {{item.price}}  <img src="assets/img/gold_coin.png" title="Gold"></div>
        </div>
        <div class ="p-2 align-self-center">
          <button class="btn btn-sm btn-outline-dark buyBtn" (click)="shopItemBuy(item,i)">Buy</button>
        </div>
      </div>
    </div>
    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;SHOP OPENED SELL-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
    <div class ="d-flex flex-row flex-wrap" *ngIf="showShopSell">

      <div class="shopBox d-flex align-items-start flex-column justify-content-center" *ngFor="let item of inventory">
        <div class = "p-2 mb-auto justify-content-center align-self-center">{{item.itemName}}</div>
        <div class ="p-2 mb-auto align-self-center" [ngClass]="{'Rare':'rare','Mythic':'mythic','Uncommon':'uncommon', 'Legendary':'legendary','Common':'common','Artifact':'artifact'}[item.rarity]">
          <div class="row">
            <div class="shopImg align-self-center" *ngIf="item.item_type==='Equipment'" [ngClass]="{'Weapon':'Weapon','Ring':'Ring','Chest':'Chest','Helmet':'Helmet','Legging':'Legging','Boots':'Boots'}[item.equip_type]"></div>
            <div class="shopImg align-self-center" *ngIf="item.item_type==='Potion'" [ngClass]="{'Potion':'Potion'}[item.item_type]"></div>
            <div class="sellAmount">x{{item.amount}}</div>
          </div>
        </div>
        <div class="p-2 align-self-center">
          <div class = "indent">
            {{item.sell}}  <img src="assets/img/gold_coin.png" title="Gold"></div>
        </div>
        <div class ="p-2 align-self-center">
          <button class="btn btn-sm btn-outline-dark buyBtn" (click)="shopItemSell(item)">Sell</button>
        </div>
      </div>
    </div>

  </div>
</div>-->
